ol {
  font-family: 'Space Mono', monospace;
  display: flex;
  flex-direction: column;
  max-width: 420px;
  margin: 10px;
  border: 1px solid #eee;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.06);
}

li {
  color: #4F4F4F;
  padding-left: 16px;
  margin-top: 24px;
  position: relative;
  font-size: 16px;
  line-height: 20px;
}

strong {
  color: #292929;
}

/**/
section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.outer-wrapper {
  max-width: 100%;
  overflow-x: scroll;
  position: relative;
  scrollbar-color: #d5ac68 #f1db9d;
  scrollbar-width: thin;
  -ms-overflow-style: none;
}

.inner-wrapper {
  display: flex;
  padding-bottom: 10px;
}

.pseudo-item {
  height: 300px;
  width: 209px;
  margin-right: 59px;
  flex-shrink: 0;
  background-color: #ffb4a2;
}

.pseudo-item:nth-of-type(2n) {
  background-color: #e5989b;
}

/**/
body {
  color: black;
  background: url("images/bg.png");
  font-size: 16px;
}


h1 {
  color: #d54d7b;
  font-size: 40px;
  font-family: 'Rouge Script', cursive;
  font-weight: normal;
  text-shadow: 0 4px 4px #fff;
  padding: 0;
  margin: 0;
}

p {
  color: inherit;
  font-family: "Libre Baskerville", serif;
  text-shadow: 0 1px 1px #fff;
}


/* CSS */
button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

/*navigation bar*/


.navbar {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  font-family: sans-serif;
  overflow: hidden;
  box-shadow: 0 1px 5px #e5989b;
}

.logo-image {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
}

.navbar__items {
  display: flex;
}


.navbar__link-toggle {
  display: none;
}

.navbar__items a {
  display: block;
  color: inherit;
  padding: 14px 16px;
  font-weight: 700;
  text-decoration: none;
}



@media only screen and (max-width: 768px) {

  .navbar__items,
  .navbar {
    flex-direction: column;
  }

  .navbar__items {
    display: none;
  }


  .navbar__link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }

  .navbar__toggleshow {
    display: flex;
  }

  .flex-container {
    flex-direction: column;
  }

}


/* 'a propos' tab*/
#cheer {
  display: block;
  width: 30%;
  margin: auto;
}


/*card parameters*/
.card {
  border: indianred solid;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.card-content {
  text-align: justify;
  padding-top: 2px;
}

.flex-container {
  display: flex;
}

.flex-container>div {
  flex: 1;
  padding: 5px;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.card-image {
  height: 300px;
}

.block {
  border: #e5989b solid;
  border-radius: 30px;
  text-align: justify;
  height: auto;
  background-color: #e5989b;
  overflow: auto;
  margin-top: 10%;
  padding: 10px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.tg th {
  border: 1px solid black;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
}

.tg .tg-0lax {
  text-align: left;
  vertical-align: top
}


/*scrollbar*/
.flex-image {
  height: 200px;
  width: 150px;
  display: block;
  padding: 5px;
  margin: auto;
}

.scrollbar {
  height: 100%;
  width: 100%;
  overflow-x: auto;
  display: inline-block;
  white-space: nowrap;
}


.scrollbar-image {
  height: 200px;
  width: 150px;
  display: block;
  padding: 5px;
  margin: auto;
}


/*Formulaire*/
input,
textarea {
  font: 1em sans-serif;
  box-sizing: border-box;
  border: 1px solid #999;
}


textarea {
  width: 100%;
  vertical-align: top;
  height: 10em;
}

form div {
  margin: 5px;
  font-size: small;
  padding: 2px;
}

/*carrousel*/


* {
  box-sizing: border-box
}


.slideshow {

  border: 5px solid white;
  box-shadow: 0 0 5px hsla(0, 0%, 0%, .5);
  overflow: hidden;
  max-width: 700px;
  margin: 2rem auto;
  position: relative
}

.slideshow ul {
  padding-bottom: 66.67%;
  /* ratio pour le responsive */
  margin: 0;
  list-style-type: none;
  position: relative
}


.slideshow li {
  top: 0;
  left: 0;
  bottom: 0;
  animation: slideshow 25s ease infinite;
  position: absolute;
  opacity: 0;
}



.slideshow li:nth-child(2) {
  animation-delay: 5s
}

.slideshow li:nth-child(3) {
  animation-delay: 10s
}

.slideshow li:nth-child(4) {
  animation-delay: 15s
}

.slideshow li:nth-child(5) {
  animation-delay: 20s
}


@keyframes slideshow {

  0% {
    opacity: 0
  }

  10% {
    opacity: 1
  }

  20% {
    opacity: 1
  }

  25% {
    opacity: 0
  }

  100% {
    opacity: 0
  }

}


.slideshow span {
  background: rgba(0, 0, 0, 0.7);
  height: 60px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0
}

/*****barre progression *****/
.barre_progression {
  position: absolute;
  left: 0;
  bottom: 62px;
  height: 9px;
  background: white;
  animation: barre_progression 25s ease-out infinite;

}

/*****animation barre progression *****/
@keyframes barre_progression {

  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    width: 0%;
    opacity: 0
  }

  4%,
  24%,
  44%,
  64%,
  84% {
    width: 0%;
    opacity: .3
  }

  16%,
  36%,
  56%,
  76%,
  96% {
    width: 100%;
    opacity: .7
  }

  17%,
  37%,
  57%,
  77%,
  97% {
    width: 100%;
    opacity: .3
  }

  18%,
  38%,
  58%,
  78%,
  98% {
    width: 100%;
    opacity: 0
  }

}