*,
::after,
::before {
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  body {
    height: 100%;
    width: 100%;
  }
}

body {
  color: black;
  font-size: 1em;
  margin-left: 10%;
  margin-right: 10%;
}

h2,
h3 {
  font-family: cursive;
}

/*navigation bar*/
#logo {
  display: inline-flexbox;
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  border-bottom: 5px solid #c50000;
}

.menu li,
#logo {
  float: left;
}

.menu li a {
  display: block;
  color: inherit;
  text-align: center;
  padding: 14px 16px;
  font-weight: 700;
  text-decoration: none;
}

.menu li a:hover {
  background-color: indianred;
}


/* 'a propos' tab*/
#cheer {
  display: block;
  width: 30%;
}

/*Cick button for card*/
a.button {
  align-items: center;
  background-color: #076b02;
  border: 1px solid #3d4852;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-flex;
  padding: 0.25rem 0.75rem;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  opacity: 0.7;
}

a.button:hover,
a.button:focus {
  background-color: #4bea43;
  box-shadow: 0 0 2px 2px #bac6d3;
}

/*card parameters*/
.card {
  border: 3px solid #076b02;
  padding: 1rem;
  margin: 1rem;
  display: block;
  background-color: whitesmoke;
}

.card-image {
  height: 350px;
  width: 300px;
  display: block;
  padding: 5px;
  margin: auto;
}

.card-title,
h1 {
  font-family: Snell Roundhand, cursive;
  letter-spacing: 1px;
  font-size: 30px;
  text-align: center;
  width: 160px;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 13px;
}

.card-title:after,
h1::after {
  background-color: #c50000;
  content: '';
  display: block;
  height: 3px;
  width: auto;
  margin-bottom: 5px;
}

.card-content {
  justify-content: space-between;
  display: block;
  padding: 2px;
  font-weight: lighter;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flex-container {
  display: flex;
}

.flex-container div {
  flex: 1;
  padding: 10px;
}

.flex-image {
  height: 200px;
  width: 150px;
  display: block;
  padding: 5px;
  margin: auto;
}

.scrollbar {
  height: 100%;
  width: 100%;
  overflow-x: auto;
  display: inline-block;
  white-space: nowrap;
}

table,
th,
tr {
  text-align: left;
  border: 1px solid black;
  font-weight: lighter;
}